*{
    background: rgb(105, 94, 94);
    box-sizing: border-box;
}

h1{
    font-size: 60px;
    text-align: center;
    color: rgb(142, 185, 156);
    margin-top: 10px;
}
body{
    display: flex;
    flex-wrap: wrap;
}

p{
    text-align: center;
    font-size: medium;
    color: aquamarine;
}

.grid{
    background-color: rgb(142, 185, 156);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 100px;
}

.box{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 130px;
    width: 130px;
}

.box:hover{
    background-color: rgb(13, 49, 59);
    opacity: 1;
}

.reset{
    color: black;
    background-color: lightskyblue;
    border: 1px solid aqua;
    padding-top: 10px;
    padding-left: 38px;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    position: fixed;
    margin-top: 800px;
    margin-left: 0px;
    display: block;
    font-size: 17px;
 }
 
 .reset:hover{
     background-color: aqua;
 }
 .player{
     position: fixed;
     color: rgb(92, 184, 226);
     font-size: 50px;
     margin-top: 450px;
     margin-left: 1000px;
     
 }
 
 .player span{
     color:  rgb(229, 235, 240);
 }
 
 
 .X::after{
     content: 'X';
     font-size: 100px;
     color: rgb(92, 184, 226);
 }
 
 .O::after{
     content: 'O';
     color: rgb(229, 235, 240);
     font-size: 110px;
 }
 
 .won::after{
     animation-name: win;
     animation-duration:1s;
    
 }
 
 @keyframes win{
     0%{color:  black;}
     10%{color: lightblue;}
     20%{color: black;}
     30%{color: lightblue}
     40%{color: black}
     50%{color: black;}
     60%{color: lightblue;}
     70%{color: black;}
     80%{color: lightblue}
     100%{color:black}
 }

    